<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Krispy Kreme - Kinvo</title>
    <meta content="AMOUNT DUE: ₱ 520.00" name="description"/>

    <meta property="fb:app_id" content="1718385315077263"/>
    <meta property="og:url" content="https://kinvo-invoice.herokuapp.com/"/>
    <meta property="og:title" content="Invoice from Krispy Kreme"/>
    <meta property="og:description" content="AMOUNT DUE: ₱ 726.00"/>
    <meta property="og:image" content="https://kinvo-invoice.herokuapp.com/images/merchant-logo.jpg"/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Invoice from Krispy Kreme"/>
    <meta name="twitter:description" content="AMOUNT DUE: ₱ 726.00"/>
    <meta name="twitter:image" content="https://kinvo-invoice.herokuapp.com/images/merchant-logo.jpg"/>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/tachyons.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="invoice-main">
      <div class="state pending">
        <div class="ma3 ma4-l">
          <div class="tc fw3 tracked animated fadeInDown">You are Paying</div>
        </div>
        <div class="w-100 mw6-ns center pl2 pr2 pl0-l pr0-l">
          <div class="bg-white black br2 animated fadeInDown">
            <div class="pa2">
              <div class="mb0">
                <div class="bb br2 b--black-10">
                  <div class="pb2">
                    <div class="flex items-center justify-start">
                      <img src="images/merchant-logo.jpg" class="merchant-photo mr1 dib br-100"/>
                      <div class="flex flex-column"><span class="f7 fw7 black-80 word-break">Krispy Kreme</span><span class="f7 fw3 black-40">Merchant</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb2">
                <div class="pt3 pb3 pt4-l pb4-l">
                  <div class="flex flex-column tc">
                    <h1 class="f1 fw3 green ma0">₱726.00</h1><span class="f7 black-40 ttu tracked">Amount Due</span>
                  </div>
                </div>
              </div>
              <div class="mb0"><a class="bg-blue br2 pa3 tc ttu tracked white f7 fw7 db">Proceed to payment</a></div>
            </div>
          </div>
        </div>
        <div class="ma3 ma4-l">
          <div class="tc fw3 tracked animated fadeInDown">Invoice Details</div>
        </div>

        <div class="w-100 mw6-ns center pl2 pr2 pl0-l pr0-l mb4">
          <div class="mb2">
            <div class="flex">
              <div class="w-50 ba b--white-05 br2 mr2">
                <div class="pa2 pt3 pb3">
                  <div class="flex items-center justify-center"><span ng-if="invoice.data" class="f7 fw3 white-50 tracked">Invoice # 1zRMdkZ</span></div>
                </div>
              </div>
              <div class="w-50 ba b--white-05 br2">
                <div class="pa2 pt3 pb3">
                  <div class="flex items-center justify-center"><span ng-if="invoice.data" class="f7 fw3 white-50 tracked">Expires on Jul 13, 2017</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-dark black white br2 overflow-hidden animated fadeInDown">
            <div class="ma2">
              <div ng-repeat="item in invoice.data.attributes.invoice_items" class="mt2 pb2 bb b--white-10">
                <div class="flex items-center">
                  <img src="images/item-image.jpg" class="item-photo mr2"/>
                  <div class="w-100">
                    <div class="flex items-center justify-between">
                      <div class="item-details">
                        <h1 class="f6 fw3 ma0 white-80 mb1">Dozen Original Glaze</h1>
                        <div class="flex justify-between">
                          <div class="f7"><span>₱363.00</span><span> </span><span class="white-40">&times;</span><span> </span><span>2</span></div>
                        </div>
                      </div>
                      <div class="item-total"><span class="f7 fw7 tracked">₱726.00</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="bg-white-10 br2">
                <div class="pl2 pr2 overflow-hidden">
                  <div ng-if="invoice.data.attributes.delivery_fee" class="fee flex items-center justify-between mt2 pb2">
                    <div class="flex items-center">
                      <div class="fee__icon fee__icon--delivery br-100 bg-white bg-center contain mr2"></div><span class="f7 fw3">Delivery Fee                  </span>
                    </div><span class="f7 fw7">FREE</span>
                  </div>
                  <div ng-repeat="of in invoice.data.attributes.invoice_other_fees" class="fee flex items-center justify-between mt2 pb2">
                    <div class="flex items-center">
                      <div class="fee__icon fee__icon--other br-100 bg-white bg-center contain mr2"></div><span class="f7 fw3">Other Fees</span>
                    </div><span class="f7 fw7">₱1.00</span>
                  </div>
                  <div ng-if="invoice.data.attributes.computed_tax !== '0.00'" class="fee flex items-center justify-between mt2 pb2">
                    <div class="flex items-center">
                      <div class="fee__icon fee__icon--tax br-100 bg-white bg-center contain mr2"></div><span class="f7 fw3">Tax (12%)</span>
                    </div><span class="f7 fw7">₱20.00</span>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
